<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PythonProject</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <div class="form-login">
        {% if msg == "Tài khoản không tồn tại." or msg == "Vui lòng điền đầy đủ thông tin." %}
            <div class="alert" style="display: flex;background: rgb(219, 73, 73); color: white; margin-top: 20px; margin-left: 15px; margin-right: 15px; border-radius: 10px; position: relative;">
                <i class="fa-solid fa-triangle-exclamation" style="padding: 15px;"></i>
                <h3 style="font-size: 20px; padding: 10px 10px 10px 20px;">{{msg}}</h3>
                <a onclick="delete_alert()" style="color: white;"><i class="fa-solid fa-xmark" style="position: absolute; right: 10px; top: 5px; cursor: pointer;"></i></a>
            </div>
            <script src="{% static 'js/login.js' %}"></script>
        {% endif %}
        <h1>Đăng nhập</h1>
        <form action="" method="post" class="post-form-login">
            {% csrf_token %}
            <p>Email:</p>
            <input type="email" placeholder="Nhập địa chỉ email..." name="email">
            <p>Mật khẩu:</p>
            <input type="password" placeholder="Nhập mật khẩu..." name="password">
            <br>
            <button type="submit">Đăng nhập</button>
        </form>
        <div class="change-registerview">
            Bạn chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký ngay.</a>
        </div>
    </div>
</body>
</html>