{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PythonProject</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>
<body>
    <div class="form-login">
        {% if msg == "Mật khẩu và mật khẩu xác nhận không trùng khớp!" or msg == "Email đã được sử dụng. Vui lòng dùng email khác để đăng ký." or msg == "Vui lòng điền đầy đủ thông tin." %}
            <div class="alert" style="display: flex;background: rgb(219, 73, 73); color: white; margin-top: 20px; margin-left: 15px; margin-right: 15px; border-radius: 10px;">
                <i class="fa-solid fa-triangle-exclamation" style="padding: 15px;"></i>
                <h3 style="font-size: 20px; padding: 10px 10px 10px 20px;">{{msg}}</h3>
                <a onclick="" style="color: white;"><i class="fa-solid fa-xmark" style="margin-top: 5px; margin-right: 10px;"></i></a>
            </div>
        {% endif %}
        <h1>Đăng ký</h1>
        <form action="" method="post" class="post-form-login">
            {% csrf_token %}
            <p>Email:</p>
            <input type="email" placeholder="Nhập địa chỉ email..." name="email">
            <p>Tên người dùng:</p>
            <input type="text" placeholder="Nhập tên người dùng..." name="username">
            <p>Mật khẩu:</p>
            <input type="password" placeholder="Nhập mật khẩu..." name="password1">
            <p>Xác nhận mật khẩu:</p>
            <input type="password" placeholder="Nhập xác nhận mật khẩu..." name="password2">
            <br>
            <button type="submit">Đăng ký</button>
        </form>
    </div>
</body>
</html>