{% load static %}

<div class="sidebar">
    <div class="logo">
        <a href="/">
            <h1>PythonProject</h1>
        </a>
    </div>
    <div class="tabs">
        <div class="tab">
            <a href="#" >Khoản tiêu</a>
        </div>
        <div class="tab">
            <a href="#" >Khoản thu</a>
        </div>
        <h3>Tổng kết</h3>
        <hr>
        <div class="summary">
            <div class="tab">
                <a href="#" >Tổng kết khoản tiêu</a>
            </div>
            <div class="tab">
                <a href="#">Tổng kết khoản thu</a>
            </div>
        </div>
    </div>
</div>